html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
html{
    font-size: 100px;
}
.main,.swiper-container,.list1,.list2,.list3,.list4,.list5,.list6{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fdd2dc;
}
.list1{
    position: relative;
}
.list1 .element-box{
    position: absolute;
    left: 1.6rem;
    top: 2.12rem;
    display: block;
    -webkit-animation: img 3s ease-out  infinite both;
    animation: img 3s ease-out  infinite both;
}
.list1 .img{
    position: absolute;
    width: 100%;
    height: 2.6rem;
    background: url("../img/yq0KZVX9bDGAbnLyAABcyBESMUE464.png") no-repeat;
    background-size: cover;
}
@-webkit-keyframes img {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    10%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    40%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    60%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    90%{
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
    100%{
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }

}
.list1 .my{
    position: absolute;
    top: 2.20rem;
    left:0.14rem;
    font-family: Allura-Regular;
    font-size: 20px; color: rgb(255, 255, 255);
    font-weight: bold;
    -webkit-animation: bounceOut 2s linear  infinite both;
    animation: bounceOut 2s linear  infinite both;

}
.list1 .log{
    width: 1.51rem;
    height: 1.65rem;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    margin-left: -0.755rem;
}
.list1 .log img{
    width: 100%;
    height: 100%;
    -webkit-animation: wobble 2s linear  infinite both;
    animation: wobble 2s linear  infinite both;
}
.main .list2 .rect{
    opacity: 0;
     width: 100%;
     height:2.5rem;
     background: #555555;
     /*transition:all 0.4s;*/
     /*-webkit-animation: bounceInDown 2s linear   both;*/
     /*animation: bounceInDown 2s linear   both;*/
 }
.main #list2 .rect{
    -webkit-animation: bounceInDown 2s linear   both;
    animation: bounceInDown 2s linear   both;
}
/*.main #list1 .rect{*/
    /*transform: translate(0,.4rem);*/
/*}*/
/*.main .list2{*/
    /*position: relative;*/
    /*background: #fff;*/
/*}*/
.main .element-box-contents{
    position: absolute;
    top: 1.6rem;
    left: 1rem;
    width: 1.78rem;
    height: 1.78rem;

}
.main .element-box-contents img{
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-animation: move 3s ease-out  infinite both;
    animation: move 3s ease-out  infinite both;
}
@-webkit-keyframes move {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    10%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    40%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    60%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    90%{
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
    100%{
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}
.main .list2 span{
    display: block;
    position: absolute;
    top: 2.9rem;
    left: 2.50rem;
}

.main .list2 ul{
    position: absolute;
    left: 0.50rem;
    top: 4.05rem;
}
.main .list2 ul li{
    font-size: 16px;
    color: #000;
    font-weight: bold;
    line-height: 30px;
}
.main .list3{
    position: relative;
}
.main .list3 .element-box-box{
    position: absolute;
    top:0.63rem;
    left:0.35rem;
    -webkit-animation: wobble 2s linear  infinite both;
    animation: wobble 2s linear infinite  both;
}
.main .list3 .li1{
    position: absolute;
    top: 1.70rem;
    right: 0.32rem;
    transform: rotate(18deg);
}
.main .list3 .li2{
    position: absolute;
    top: 2.80rem;
    left: 1.06rem;
    transform: rotate(-25deg);
}
.main .list3 .li3{
    position: absolute;
    top: 3.90rem;
    right:0.83rem;
}
.main .list3 .li4{
    position: absolute;
    left: 0.98rem;
    top: 5rem;
}
.main .list3 em{
    display: block;
    width: 1.60rem;
    height: 0.02rem;
    background: #977c84;
}
.main .list3 .l1{
    position: absolute;
    top:2.09rem;
    right: 0.68rem;
}
.main .list3>.a,.main .list3>.b,.main .list3>.c,.main .list3>.d,.main .list3>.e,.main .list3>.f,.main .list3>.g,.main .list3>.h{
    color: #000;
    font-size: 18px;
    display: block;
    position: absolute;
}
.main .list3>.a,.main .list3>.b,.main .list3>.e,.main .list3>.f{
}
.main .list3>.a{
    top:1.8rem;
    right: 0.7rem;
}
.main .list3>.b{
    top:2.2rem;
    right: 0.8rem;
}
.main .list3>.d{
    top:  2.95rem;
    left: 1.39rem;
}
.main .list3>.c{
    top:  3.28rem;
    left: 1.39rem;
}
.main .list3>.e{
    top: 4.35rem;
    right: 1.2rem;
}
.main .list3>.f{
    top: 4rem;
    right: 1.2rem;
}
.main .list3>.g{
    left: 1.20rem;
    top: 5.54rem;
}
.main .list3>.h{
    left: 1.28rem;
    top: 5.2rem;
}
.main .list3 .l2{
    position: absolute;
    top:  3.24rem;
    left: 1.29rem;
}
.main .list3 .l3{
    position: absolute;
    top: 4.3rem;
    right: 1.17rem;
}
.main .list3 .l4{
    position: absolute;
    left: 1.20rem;
    top: 5.5rem;
}
.main .list4{
    position: relative;
}
.main .list4 .element-box-jineng{
    position: absolute;
    top: 0.25rem;
    right: 0.27rem;
    -webkit-animation: swing 2s linear  infinite both;
    animation: swing 2s linear  infinite both;
}
.main .list4  .uls{
    position: absolute;
    top: 1.24rem;
    left: 0.16rem;
}
.main .list4  .uls li{
    height: 22px;
    line-height: 22px;
    margin-top: 37px;
    font-size: 14px;
    position: relative;
}
.main .list4  .uls li span{
    position: absolute;
    left:.7rem;
    z-index: 2;
    color: #FFF;
}
.main .list4  .ulss{
    position: absolute;
    top: 1.24rem;
    left: 0.86rem;
    z-index: 1;
}
.main .list4  .ulss li{
    line-height: 22px;
    margin-top: 37px;
    background: #FCF7F7;

}
.main .list4  .ulsss{
    position: absolute;
    top: 1.24rem;
    left: 0.86rem;
    z-index: 1;
    height: 2.36rem;
}
.main .list4  .ulsss li{
    height: 22px;
    margin-top: 37px;
}
.main .list4  .ulsss li:nth-child(1){
    background: palegreen;
    width: 1.5rem;
}
.main .list4  .ulsss li:nth-child(2){
    background: palevioletred;
    width: 1.7rem;
}
.main .list4  .ulsss li:nth-child(3){
    background: plum;
    width: .9rem;
}
.main .list4  .ulsss li:nth-child(4){
    opacity:0;
    background: purple;
    width: 2.1rem;
}


.main .list4  .ulsss li:nth-child(5){
    background: paleturquoise;
    width: 1.7rem;
    /*-webkit-animation: bounceInLeft 1s 3.5s linear   both;*/
    /*animation: bounceInLeft 1s 3.5s linear   both;*/
}
.main #list4  .ulsss li:nth-child(5){
    -webkit-animation: bounceInLeft 1s 3.5s linear   both;
    animation: bounceInLeft 1s 3.5s linear   both;
}
.main .list4  .ulsss li:nth-child(6){
    background: red;
    width: 2.5rem;
    
    
}
.main .list4  .ulss .a,.main .list4  .ulss .b,.main .list4  .ulss .c,.main .list4  .ulss .d{
    background: #fcf7f7;
    height: 22px;
    width: 2.5rem;
}
/*.main .list4  .ulsss li {*/
/*-webkit-animation: bounceInLeft 1s 2s linear   both;*/
/*animation: bounceInLeft 1s 2s linear   both;*/
/*}*/
.main .list4  .ulss .b{
    background: #fcf7f7;
    height: 22px;
    width: 2.5rem;
}
.main .list5 ._w{
    position: absolute;
    top: 0.8rem;
    left: 0.5rem;
    display: block;
    font-size: 20px;
    font-weight: bold;
}
.main .list5 ._a{
    position: absolute;
    bottom: 0;
    left: 0;
}
.main .list5 ._b .a{
    position: absolute;
    top: 2.5rem;
    right: 0.1rem;
}
.main #list5 ._b .a{
    -webkit-animation: zoomIn 1s  linear   both;
    animation: zoomIn 1s linear   both;
}
.main .list5 ._b .b{
    position: absolute;
    top: 2.9rem;
    right: 0.5rem;
}
.arrow{
    position: absolute;
    left: 50%;
    bottom: 0.5rem;
    z-index: 10;
    margin-left: -.24rem;
    width: .48rem;
    height: .36rem;
    background: url("../img/web-swipe-tip.png") no-repeat;
    background-size: 100% 100%;
    -webkit-animation: bounce 1s linear 0s infinite both;
    animation: bounce 1s linear 0s infinite both;
}
.music {
    display: none;
    position: absolute;
    top: .2rem;
    right: .2rem;
    z-index: 10;
    width: .6rem;
    height: .6rem;
    background: url("../audio/music.svg") no-repeat;
    background-size: 100% 100%;
}
.move{
    animation: rotate 1s infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

















@-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        opacity:1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        opacity:1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes bounceOut {
    20% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    50%, 55% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}

@keyframes bounceOut {
    20% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    50%, 55% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}
@-webkit-keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

@keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}
@-webkit-keyframes wobble {
    from {
        -webkit-transform: none;
        transform: none;
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes wobble {
    from {
        -webkit-transform: none;
        transform: none;
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@-webkit-keyframes zoomIn {
    from {
        /*opacity: 0;*/
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    100% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        /*opacity: 0;*/
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}
@-webkit-keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}



.main #list2 ul{
    left: 0.50rem;
    top: 4.05rem;
    -webkit-animation: zoomIn 1s  linear   both;
    animation: zoomIn 1s linear   both;
}
.main #list3 .li1{

    top: 1.70rem;
    right: 0.32rem;
    transform: rotate(18deg);
    -webkit-animation: fadeIn 1s 1.5s linear   both;
    animation: fadeIn 1s 1.5s linear   both;
}
.main #list3 .li2{

    top: 2.80rem;
    left: 1.06rem;
    transform: rotate(-25deg);
    -webkit-animation: fadeIn 1s 1s linear   both;
    animation: fadeIn 1s linear 1s  both;
}
.main #list3 .li3{
    top: 3.90rem;
    right:0.83rem;
    -webkit-animation: fadeIn 1s .5s linear   both;
    animation: fadeIn 1s .5s linear   both;
}
.main #list3 .li4{
    left: 0.98rem;
    top: 5rem;
    -webkit-animation: fadeIn 1s linear   both;
    animation: fadeIn 1s linear   both;
}
.main #list3 .l1{
    top:2.09rem;
    right: 0.68rem;
    -webkit-animation: zoomIn 2s 2s linear   both;
    animation: zoomIn 2s 2s linear   both;
}
.main #list3>.a,.main #list3>.b,.main #list3>.e,.main #list3>.f{
    -webkit-animation: bounceInLeft 1s 1.5s linear   both;
    animation: bounceInLeft 1s 1.5s linear   both;
}
.main #list3>.c,.main #list3>.d,.main #list3>.g,.main #list3>.h{
    -webkit-animation: bounceInRight 1s 1.5s linear   both;
    animation: bounceInRight 1s 1.5s linear   both;
}
.main #list3 .l2{

    top:  3.24rem;
    left: 1.29rem;
    -webkit-animation: zoomIn 1s 1s linear   both;
    animation: zoomIn 1s linear 1s  both;
}
.main #list3 .l3{

    top: 4.3rem;
    right: 1.17rem;
    -webkit-animation: zoomIn 1s .5s linear   both;
    animation: zoomIn 1s .5s linear   both;
}
.main #list3 .l4{

    left: 1.20rem;
    top: 5.5rem;
    -webkit-animation: zoomIn 1s linear   both;
    animation: zoomIn 1s linear   both;
}
.main #list4  .ulsss li:nth-child(1){
    background: palegreen;
    width: 1.5rem;
    -webkit-animation: bounceInLeft 1s 1.5s linear   both;
    animation: bounceInLeft 1s 1.5s linear   both;
}
.main #list4  .ulsss li:nth-child(2){
    background: palevioletred;
    width: 1.7rem;
    -webkit-animation: bounceInLeft 1s 2s linear   both;
    animation: bounceInLeft 1s 2s linear   both;
}
.main #list4  .ulsss li:nth-child(3){
    background: plum;
    width: .9rem;
    -webkit-animation: bounceInLeft 1s 2.5s linear   both;
    animation: bounceInLeft 1s 2.5s linear   both;
}
.main #list4 .ulsss li:nth-child(4){
    -webkit-animation: bounceInLeft 1s 3s linear   both;
    animation: bounceInLeft 1s 3s linear   both;
}

.main #list4  .ulsss li:nth-child(5){
    background: paleturquoise;
    width: 1.7rem;
    -webkit-animation: bounceInLeft 1s 3.5s linear   both;
    animation: bounceInLeft 1s 3.5s linear   both;
}
.main #list4  .ulsss li:nth-child(6){
    background: red;
    width: 2.5rem;
    -webkit-animation: bounceInLeft 1s 4s linear   both;
    animation: bounceInLeft 1s 4s linear   both;
}
.main #list4  .ulss .a,.main #list4  .ulss .b,.main #list4  .ulss .c,.main #list4  .ulss .d{
    background: #fcf7f7;
    height: 22px;
    width: 2.5rem;
    -webkit-animation: bounceInLeft 1s 1s linear   both;
    animation: bounceInLeft 1s 1s linear   both;
}  .main #list5 ._b .a{

       top: 2.5rem;
       right: 0.1rem;
       -webkit-animation: zoomIn 1s  linear   both;
       animation: zoomIn 1s linear   both;
   }
.main #list5 ._b .b{

    top: 2.9rem;
    right: 0.5rem;
    -webkit-animation: bounceIn 1s 1s linear   both;
    animation: bounceIn 1s 1s linear   both;
}



.main .list3 .li1{
    opacity:0;
}
.main .list3 .li2{
    opacity:0;
}
.main .list3 .li3{
    opacity:0;
}
.main .list3 .li4{
    opacity:0;
}
.main .list3 .l1{
    opacity:0;
}
.main .list3>.a,.main .list3>.b,.main .list3>.e,.main .list3>.f{
    opacity:0;
}
.main .list3>.c,.main .list3>.d,.main .list3>.g,.main .list3>.h{
    opacity:0;
}
.main .list3 .l2{
    opacity:0;
}
.main .list3 .l3{
    opacity:0;
}
.main .list3 .l4{
    opacity:0;
}
.main .list4  .ulsss li:nth-child(1){
    opacity:0;
}
.main .list4  .ulsss li:nth-child(2){
    opacity:0;
}
.main .list4  .ulsss li:nth-child(3){
    opacity:0;
}
.main .list4 .ulsss li:nth-child(4){
    opacity:0;
}

.main .list4  .ulsss li:nth-child(5){
    opacity:0;
}
.main .list4  .ulsss li:nth-child(6){
    opacity:0;
}
.main .list4  .ulss .a,.main .list4  .ulss .b,.main .list4  .ulss .c,.main .list4  .ulss .d{
    opacity:0;
}
.main .list5 ._b .a{
       opacity:0;
   }
.main .list5 ._b .b{
    opacity:0;
}

